<!DOCTYPE html>
<html>
   <head>
      <link rel="stylesheet" type="text/css" href="css/normalize.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="css/main.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>

   <body>

<!--******************** Header Section *********************-->

      <header class="header-section"></header>

<!--******************** Header Section *********************-->


<!--******************** Content Section *********************-->

         <div class="content-section" ng-app="TodoListApp">
            <div class="plug-in">
               <h1>This Is My Todo List!</h1>

               <!--**************** Need For Github ****************-->
               <list></list>
               <api></api>
               <!--**************** Need For Github ****************-->

               <!--**************** Need For File ****************-->
               <!-- <div class="list" ng-controller='listCtrl'>
                  <div class="add">
                     <a ng-click="addListItem()" href="">+ Add a New Task</a>
                  </div>
                  <div class="list-item-wrap" ng-class='{"item-selected": editing}' ng-repeat='inputLabel in inputLabels | orderBy: "complete"' ng-init='inputLabel.complete = false'>
                     <div class="list-item">
                        <input class='checkbox' ng-model='inputLabel.complete' type="checkbox">
                        <label class='editing-label' ng-click='editing = !editing' ng-class='{"edited": inputLabel.edited, "complete": inputLabel.complete}' ng-hide='editing'>{{inputLabel.name}}</label>
                        <input class='editing-input' ng-change='inputLabel.edited = true' ng-blur='editing = false' ng-show='editing' ng-model='inputLabel.name' type="text">
                     </div>
                     <div class="actions">
                        <button class='save' ng-click='inputLabel.edited = false; saveListItems(inputLabel)' type="button" href=''>save</button>
                        <button class='delete' ng-click='deleteListItem(inputLabel, $index)' class='delete' type="button" href=''>delete</button>
                     </div>
                  </div>
               </div> -->
               <!--**************** Need For File ****************-->

            </div>
         </div>

<!--******************** Content Section *********************-->


<!--******************** Footer Section *********************-->

      <footer class="footer-section"></footer>

<!--******************** Footer Section *********************-->

                <!-- Hack to solve the outline issue. -->
      <div id="outline"><a href=''></a></div>
                <!-- Hack to solve the outline issue. -->

      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
      <script src="vendor/angular.js" type="text/javascript"></script>
      <script src="scripts/app.js" type="text/javascript"></script>
      <script src="scripts/directives/list.js" type="text/javascript"></script>
      <script src="scripts/directives/apiTest.js" type="text/javascript"></script>
      <script src="scripts/controllers/listCtrl.js" type="text/javascript"></script>
      <script src="scripts/controllers/apiCtrl.js" type="text/javascript"></script>
      <script src="scripts/services/data.js" type="text/javascript"></script>
      <script src="https://code.jquery.com/jquery-1.9.0rc1.js"></script>
      <script src="scripts/script.js" type="text/javascript"></script>
   </body>
</html>
